* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gilroy', sans-serif;
}

body {
    padding-bottom: 1000px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

input {
    border: none;
    outline: none;
    background: none;
}

textarea {
    border: none;
    outline: none;
    background: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.c-yellow {
    color: #f7d917;
}

.section-title {
    display: flex;
    align-items: center;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

.section-title-line {
    display: block;
    width: 65px;
    height: 4px;
    background: #f7d917;
}


.section-title-right {
    justify-content: flex-end;
}

.section-title-right h2 {
    margin-right: 40px;
}

.section-title-left {
    justify-content: flex-start;
}

.section-title-left h2 {
    margin-left: 40px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.header {
    background-image: url('../images/backgrounds/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a {
    height: 68px;
    display: block;
}

.header-logo img {
    height: 100%;
    object-fit: contain;
}

.header-menu {
    display: flex;
}

.header-menu ul {
    display: flex;
}

.header-menu ul li {
    margin: 0 20px;
}

.header-menu ul li a {
    font-size: 12px;
    font-weight: 900;
    color: #bbbbbb;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s;
}

.header-menu ul li a:hover {
    color: #f7d917;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * * * * * * * * * */

.hero {
    background: #f6f6f6;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-img {
    height: 400px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.hero-img img {
    height: 100%;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero-text {
    flex-basis: 50%;
}

.hero-text h2 {
    font-size: 60px;
    font-weight: 500;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

.hero-text h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbbbbb;
}

.hero-background-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 144px;
    font-weight: 700;
    color: #e0e0e0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * ABOUT COMPANY * * * * * * * * * * * * * * * * * * * * * * * * * */

.about-company {
    padding-top: 40px;
}

.about-company-text {
    background-image: url('../images/backgrounds/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 130px;
    margin-top: 30px;
    padding: 40px 0;
}

.about-company-text .container {
    transform: translateX(-55px);
    padding-left: 150px;
    text-align: right;
}

.about-company-text p {
    font-size: 24px;
    line-height: 32px;

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * ADVANTAGES * * * * * * * * * * * * * * * * * * * * * * * * * */

.advantages {
    margin-top: 50px;
    position: relative;
}

.advantages-background {
    position: absolute;
    height: 300px;
    width: 60%;
    right: 0;
    background-image: url('../images/backgrounds/advantages-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.advantages-cards {
    background-image: url('../images/backgrounds/advantages-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 130px;
    padding: 40px 0;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.advantages-cards .container {
    transform: translateX(55px);
    display: flex;
    flex-wrap: wrap;

}

.advantages-card {
    flex-basis: 30%;
    padding: 30px;
    padding-left: 0;
    padding-right: 60px;
}

.advantages-img {
    height: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.advantages-card h3 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}

.advantages-card p {
    font-size: 14px;
    color: #666666;
    line-height: 24px;
    font-weight: 500;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1600 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 1600px) {
    .hero-img {
        height: 300px;
    }

    .hero-background-text {
        font-size: 100px;
    }
}