* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gilroy', sans-serif;
}

body {
    overflow-x: hidden;
}

body.overflow {
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

input {
    border: none;
    outline: none;
    background: none;
}

textarea {
    border: none;
    outline: none;
    background: none;
}

iframe {
    border: none;
    outline: none;
}

.displaynone {
    display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * BUTTONS * * * * * * * * * * * * * * * * * * * * * * * * * */

.btn-yellow {
    background: #f7d917;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    transition: 0.2s;
}

.btn-yellow:hover {
    background: #ddc002;
}

.btn-bars {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 9999;
}

.btn-bars span {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background: black;
    left: 0;
    transition: 0.2s;
}

.btn-bars span:first-child {
    top: 7px;
}

.btn-bars span:nth-child(2) {
    top: 18px
}

.btn-bars span:nth-child(3) {
    bottom: 7px;
}

.btn-bars.active span:first-child {
    top: 18px;
    transform: rotate(45deg);
}

.btn-bars.active span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.btn-bars.active span:nth-child(3) {
    bottom: 18px;
    transform: rotate(-45deg);
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.c-yellow {
    color: #f7d917;
}

.section-title {
    display: flex;
    align-items: center;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

.section-title-line {
    display: block;
    width: 65px;
    height: 4px;
    background: #f7d917;
}


.section-title-right {
    justify-content: flex-end;
}

.section-title-right h2 {
    margin-right: 40px;
}

.section-title-left {
    justify-content: flex-start;
}

.section-title-left h2 {
    margin-left: 40px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.header {
    background-image: url('../images/backgrounds/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    position: relative;
    z-index: 9999;
}

.header-logo a {
    height: 68px;
    display: block;
}

.header-logo img {
    height: 100%;
    object-fit: contain;
}

.header-menu {
    display: flex;
}

.header-menu ul {
    display: flex;
}

.header-menu ul li {
    margin: 0 20px;
}

.header-menu ul li a {
    font-size: 12px;
    font-weight: 900;
    color: #bbbbbb;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s;
}

.header-menu ul li a:hover {
    color: #f7d917;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * * * * * * * * * */

.hero {
    background: #f6f6f6;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-img {
    height: 400px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.hero-img img {
    height: 100%;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero-text {
    flex-basis: 50%;
}

.hero-text h2 {
    font-size: 60px;
    font-weight: 500;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

.hero-text h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbbbbb;
}

.hero-background-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 144px;
    font-weight: 700;
    color: #afafaf;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * ABOUT COMPANY * * * * * * * * * * * * * * * * * * * * * * * * * */

.about-company {
    padding-top: 40px;
}

.about-company-text {
    background-image: url('../images/backgrounds/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 130px;
    margin-top: 30px;
    padding: 40px 0;
}

.about-company-text .container {
    transform: translateX(-55px);
    padding-left: 150px;
    text-align: right;
}

.about-company-text p {
    font-size: 24px;
    line-height: 32px;

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * ADVANTAGES * * * * * * * * * * * * * * * * * * * * * * * * * */

.advantages {
    margin-top: 50px;
    position: relative;
}

.advantages-background {
    position: absolute;
    height: 300px;
    width: 60%;
    right: 0;
    background-image: url('../images/backgrounds/advantages-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.advantages-cards {
    background-image: url('../images/backgrounds/advantages-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 130px;
    padding: 40px 0;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.advantages-cards .container {
    transform: translateX(55px);
    display: flex;
    flex-wrap: wrap;
}

.advantages-card {
    flex-basis: 30%;
    padding: 30px;
    padding-left: 0;
    padding-right: 60px;
}

.advantages-img {
    height: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.advantages-card h3 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}

.advantages-card p {
    font-size: 14px;
    color: #666666;
    line-height: 24px;
    font-weight: 500;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WHOM * * * * * * * * * * * * * * * * * * * * * * * * * */

.for-whom {
    padding: 50px 0;
    position: relative;
}

.for-whom .section-title-left h2 {
    margin-left: 0;
    margin-right: 50px;
}

.for-whom ul {
    padding: 50px 0;
}

.for-whom ul li {
    font-size: 22px;
    font-weight: 700;
}

.for-whom .container {
    position: relative;
    z-index: 1;
}

.for-whom-background {
    height: 180px;
    width: 20%;
    position: absolute;
    background: #f6f6f6;
    right: 0;
    top: 30%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * YELLOW BACKGROUND SECTION * * * * * * * * * * * * * * * * * * * * * * * * * */

.yellow-bg {
    background-image: url('../images/backgrounds/yellow-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 110px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * TEACHERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.teachers-section {
    padding-top: 50px;
}

.teachers-section .section-title {
    margin-bottom: 50px;
}

.teachers {
    max-width: 100%;
    position: relative;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.teachers.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.teachers-photo {
    height: 280px;
}

.teachers-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.teachers-name {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.teachers-name h3 {
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
}

.teachers-card-yellow .teachers-name {
    background: #f4d717;
    color: #000;
}

.teachers-card-black .teachers-name {
    background: #222222;
    color: #fff;
}

.slick-slide:focus {
    outline: none !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * TESTIMONIALS SLIDER * * * * * * * * * * * * * * * * * * * * * * * * * */

.testimonials {
    background: #f6f6f6;
    padding: 50px 0;
}

.testimonials-images {
    width: 400px;
    margin: auto;
}

.testimonials-images {
    opacity: 0;
    visibility: hidden;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.testimonials-images.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.testimonials-images .slick-track {
    display: flex;
    align-items: center;
    height: 100px;
}

.testimonials-img {
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #eeeeee;
    overflow: hidden;
    transition: 0.2s;
}

.testimonials-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.testimonials-images .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}


.testimonials-images .slick-active,
.testimonials-images .slick-current {
    opacity: 1;
}

.testimonials-images .slick-slide .testimonials-img {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;

}

.testimonials-images .slick-current .testimonials-img {
    min-width: 100px;
    max-width: 100px;
    height: 100px;
}

.testimonials-text {
    padding: 50px 0;
    max-width: 780px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.testimonials-text {
    opacity: 0;
    visibility: hidden;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.testimonials-text.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.testimonials-text p {
    font-size: 14px;
    font-weight: 700;
    color: #676767;
    line-height: 30px;
}

.testimonials-author {
    font-size: 14px;
    font-weight: 900;
    margin-top: 50px;
}

.testimonials-profession {
    color: #999999;
    font-size: 12px;
    font-weight: 500;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * COURSES * * * * * * * * * * * * * * * * * * * * * * * * * */

.courses {
    position: relative;
    padding-top: 80px;
}

.courses-background-text {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 144px;
    font-weight: 700;
    color: #afafaf;
}

.courses-cards {
    background-image: url('../images/backgrounds/courses-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 50px 0;
    padding: 50px 0;
    margin-left: 130px;
}

.courses-cards .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transform: translateX(-55px);
    padding-left: 130px;
}

.courses-card-wrapper {
    width: 300px;
    margin: 20px;
    cursor: pointer;
}

.courses-card {
    width: 100%;
    position: relative;
    display: block;
}

.courses-card:before {
    display: block;
    content: '';
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #f7d917;
    position: absolute;
    left: 30px;
    top: -30px;
    z-index: 1;
}

.courses-card-img {
    width: 100%;
    height: 250px;
    position: relative;
}

.courses-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.courses-card-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.courses-card-name h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
}

.courses .btn-yellow {
    margin: auto;
    margin-top: 50px;
    display: flex;
    width: max-content;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * COURSES MORE * * * * * * * * * * * * * * * * * * * * * * * * * */

.courses-more {
    /* top: 40px;
    left: 130px; */
    background: #fff;
    z-index: 20;
    transition: 0.2s;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    top: 20px;
    position: relative;
}


.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.courses-more.active {
    visibility: visible;
    opacity: 1;
}

.mfp-content {
    position: unset;
}

.mfp-close {
    font-size: 40px;
}

.courses-more-close {
    display: none;
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #f7d917;
    position: absolute;
    left: 30px;
    top: -30px;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 28px;
}

.courses-more-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
}

.courses-more-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.courses-more-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.courses-more-name h4 {
    font-size: 32px;
    font-weight: 900;
    color: #fff;
}

.courses-more-info {
    background-image: url('../images/backgrounds/courses-more-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.courses-more-info p {
    padding: 30px 60px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.courses-more-info ul li {
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.courses-more-info ul li:before {
    content: '';
    display: block;
    width: 400px;
    height: 7px;
    background: #f7d917;
    margin-right: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * ADDITIONAL COURSES * * * * * * * * * * * * * * * * * * * * * * * * * */

.additional-courses {
    padding: 50px 0;
}

.additional-courses p {
    font-size: 18px;
}

.additional-courses span {
    font-size: 16px;
    padding: 20px;
    display: block;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * FEEDBACK * * * * * * * * * * * * * * * * * * * * * * * * * */

.feedback-section {
    background-image: url('../images/backgrounds/feedback-bg.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
}

.feedback-section .container {
    max-width: 600px;
    margin-left: auto;
}

.feedback-right {
    max-width: 400px;
    width: 100%;
}

.feedback-form {
    padding: 50px 0;
}

.feedback-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


.feedback-form div {
    width: 100%;
    display: flex;
}

.feedback-section h3 {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 60px;
}


.feedback-form input {
    border-bottom: 1px solid #b4a8a8;
    margin: 15px 0;
    margin-right: 30px;
    width: 100%;
}

.feedback-form input::placeholder {
    color: #000;
}

.feedback-form .btn-yellow {
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    margin-top: 60px;
}

.feedback-form form span {
    font-size: 12px;
    margin-top: 20px;
}

.feedback-right {
    max-width: 500px;
    width: 100%;
}


.feedback-right-contacts {
    background: #fff;
    padding: 50px;
    padding-right: 15px;
}

.feedback-right-card {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.feedback-right-card span:first-child {
    font-size: 16px;
}

.feedback-right-card span:nth-child(2) {
    font-size: 18px;
}

.feedback-right-socials {
    padding: 15px 0;
    padding-left: 100px;
}

.feedback-right-socials a {
    margin: 0 10px;
}

.feedback-right-socials i {
    font-size: 32px;
    color: #000;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer {
    background: #333333;
}

.footer .container {
    display: flex;
    padding: 50px 15px;
    justify-content: space-between;
    align-items: center;
}

.footer-logo a {
    height: 120px;
    display: block;
}

.footer-logo a img {
    height: 100%;
    object-fit: contain;
}

.footer-menu {
    display: flex;
}

.footer-menu ul {
    padding: 0 30px;
}

.footer-menu ul li {
    margin: 10px 0;
}

.footer-menu ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.footer-map {
    width: 360px;
    height: 260px;
}

.footer-map iframe {
    width: 100%;
    height: 100%;
}

.footer-copyright {
    background: #222222;
    padding: 20px;
}

.footer-copyright h6 {
    text-align: center;
    color: #999999;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1600 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 1600px) {
    .hero-img {
        height: 300px;
    }

    .hero-background-text {
        font-size: 100px;
    }


    .courses-background-text {
        font-size: 100px;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1180 * * * * * * * * * * * * * * * * * * * * * * * * * */
@media screen and (max-width: 1180px) {
    .hero-img {
        height: 250px;
        flex-basis: 35%;
    }

    .hero-background-text {
        font-size: 80px;
    }

    .courses-background-text {
        font-size: 80px;
    }

    .hero-text h2 {
        font-size: 50px;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text h3 {
        font-size: 20px;
    }

    .hero-text {
        padding-left: 30px;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 992 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 992px) {
    .hero-text {
        flex-basis: 55%;
    }

    .hero-text h2 {
        font-size: 40px;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .about-company-text p {
        font-size: 18px;
    }

    .advantages-card {
        padding-right: 30px;
        flex-basis: 50%;
    }

    .advantages-cards .container {
        transform: translate(15px);
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 800 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 800px) {
    .header-menu ul li {
        margin: 0 15px;
    }

    .about-company-text {
        margin-left: 50px;
    }

    .about-company-text .container {
        transform: translateX(0);
        padding-left: 50px;
    }

    .advantages-cards {
        margin-right: 50px;
    }

    .courses-cards {
        margin-left: 50px;
    }

    .courses-cards .container {
        transform: translateX(0);
        padding-left: 15px;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 768 * * * * * * * * * * * * * * * * * * * * * * * * * */
@media screen and (max-width: 768px) {

    .hero-background-text {
        font-size: 60px;
    }

    .courses-background-text {
        font-size: 60px;
    }

    .hero-text h2 {
        font-size: 30px;
    }

    .btn-bars {
        display: flex;
    }

    .header-menu {
        width: 100%;
        height: 100%;
        z-index: 999;
        top: 0;
        left: 0;
        background: #fff;
        visibility: hidden;
        opacity: 0;
        position: fixed;
    }

    .header-menu.active {
        opacity: 1;
        visibility: visible;
    }

    .header-menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .header-menu ul li a {
        font-size: 18px;
        font-weight: 500;
        color: #000;
    }

    .header-menu ul li {
        margin: 10px 0;
    }

    .courses-more-info ul li:before {
        width: 200px;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 640 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 640px) {
    .hero .container {
        flex-direction: column;
    }

    .hero {
        align-items: flex-start;
        padding-top: 30px;
    }

    .hero-text {
        text-align: center;
        flex-basis: 100%;
        padding-left: 0;
        padding-top: 30px;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 576 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 576px) {
    .hero-background-text {
        font-size: 30px;
    }

    .courses-background-text {
        font-size: 30px;
    }

    .about-company-text .container {
        padding-left: 25px;
    }

    .about-company-text {
        margin-left: 25px;
    }

    .advantages-cards {
        margin-right: 25px;
    }

    .courses-cards {
        margin-left: 25px;
    }
    .advantages-card {
        flex-basis: 100%;
    }

    .testimonials-images {
        width: 100%;
    }

    .courses-more-name {
        height: unset;
    }
    
    .courses-more-info ul li:before {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    .courses-card-wrapper {
        width: 250px;
    }
}

